<!-- <%= render 'modals/contact' %>
<%= render 'modals/register' %>
<%= render 'modals/login' %>
<!--Double navigation-->
   <header>

       <!-- Navbar -->
       <nav class="navbar fixed-top navbar-toggleable-md navbar-dark scrolling-navbar double-nav">
           <!-- SideNav slide-out button -->
           <div class="float-xs-left">
               <a href="#" data-activates="slide-out" class="button-collapse"><i class="fa fa-bars"></i></a>
           </div>
           <!-- Breadcrumb-->
           <div class="breadcrumb-dn mr-auto">
             &nbsp; &nbsp; &nbsp;<a href="/"><i class="fa fa-comments-o fa-4x wow zoomIn"></i></a>&nbsp; &nbsp;
             <%= link_to "Gist2Cents", root_path, class: 'navbar-brand wow jello' %>
           </div>
           <ul class="nav navbar-nav ml-auto flex-row">
             <li class="nav-item ">
               <a class="nav-link wow zoomIn" data-wow-delay="1s" rel="nofollow" href="/pages/about"><i class="fa fa-eye faa-tada animated-hover"></i> <span class="hidden-sm-down">About</span></a>
             </li>
             <li class="nav-item">
               <a class="nav-link wow zoomIn" data-wow-delay="1.2s" rel="nofollow" href="/contacts/new"><i class="fa fa-envelope-o faa-tada animated-hover"></i> <span class="hidden-sm-down">Contact</span></a>
             </li>
             <li class="nav-item">
               <a class="nav-link wow zoomIn" data-wow-delay="1.4s" rel="nofollow" href="/pages/faq"><i class="fa fa-question faa-tada animated-hover"></i> <span class="hidden-sm-down">FAQ</span></a>
             </li>
             <li class="nav-item dropdown btn-group">
                    <a class="nav-link dropdown-toggle wow zoomIn" data-wow-delay="1.6s" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-globe faa-spin animated-hover"></i><span class="hidden-sm-down"> Language</span></a>
                    <div class="dropdown-menu dropdown" aria-labelledby="dropdownMenu1">
                        <a class="dropdown-item">English</a>
                        <a class="dropdown-item">Creole</a>
                        <a class="dropdown-item">French</a>
                        <a class="dropdown-item">Spanish</a>
                    </div>
                </li>
            <% if user_signed_in? %>
              <li class="nav-item">

                <a href="/users/edit" class="nav-link wow zoomIn" data-wow-delay="1.8s"><i class="fa fa-user-secret faa-tada animated-hover"></i> <span class="hidden-sm-down"><%#= current_user.first_name.capitalize %></span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link wow zoomIn" data-wow-delay="2s" rel="nofollow" data-method="delete" href="/users/sign_out"><i class="fa fa-sign-out faa-tada animated-hover"></i> <span class="hidden-sm-down">Sign Out</span></a>
              </li>
            <% else %>
              <li class="nav-item">
                <a class="nav-link wow zoomIn" data-wow-delay="2s" data-toggle="modal" data-target="#modal-register">
                  <i class="fa fa-user-plus faa-tada animated-hover"></i> <span class="hidden-sm-down">Sign Up</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link wow zoomIn" data-wow-delay="2.2s" data-wow-offset="10" data-toggle="modal" data-target="#modal-login"><i class="fa fa-sign-in faa-tada animated-hover"></i> <span class="hidden-sm-down">Sign In</span>
                </a>
              </li>
            <% end %>
           </ul>
       </nav>
       <!-- /.Navbar -->
   </header>
   <!--/.Double navigation--> -->
